networks:   # this defines two different networks with different names that we can allow our services below access to
  frontend-network:
  backend-network:

secrets:    # makes certain files invisible except to the services that we specifically allow to see these secrets
  db_password:
    file: db_password.txt

services:
  backend:
    build: backend  # targets the listed directory as the location to find a Dockerfile to build from
    volumes:
      - "./config:/config"
      - "./backend/src:/code" # This allows us to change Python code while a container is running so we can debug and test on the fly.
    secrets:
      - db_password
    networks:
      - frontend-network
      - backend-network
    ports:
      #  - "5000:5000"  # removed when we added the nginx part below, because the nginx will take care of this for us
      - "5678:5678"
    environment:  # sets environment variables
      - DEBUG=True
    
#  web:
#    build: nginx
#    ports:
#      - "80:80" # http
#    networks:
#      - frontend

  db: #NOTE: this is treated as the server/computer name
    image: postgres:13.22-alpine
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    secrets:
      - db_password
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
    networks:
      - backend-network
    ports:
      - "5432:5432"

#  adminer:   # this was part of the example for postgres
#    image: adminer
#    restart: always
#    ports:
#      - 8080:8080

volumes:
  db-volume:
